* {
    padding: 0;
    margin: 0;
    font-family:"winsel-variable";
}

.fixL {
    margin-top: 20px;
}

.laser {
    margin-top: 30px;
}

.laserEnglish {
    display: flex;
    justify-content: right;
}

.laserButton {
    color: #0c2fdf;
    text-decoration: underline;
}

.bkContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: url('../media/laserfever/bkgron.jpg');
    background-size: 100% 100%;  
    background-position: center;
    background-repeat: no-repeat;
    transform: translate3d(0, 0, 0); 
    will-change: transform; 
}

@supports (-webkit-touch-callout: none) {
    .bkContainer {
        height: calc(100vh + 60px);
    }
}

img {
    vertical-align: middle;
}

p {
    margin-top: 5px;
    font-size: 18px;
    color: white;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

h2 {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

h3 {
    font-size: 20px;
    margin-top: 10px;
    color: white;
}

h4 {
    font-size: 15px;
    margin-top: 5px;
    color: white;
}

a {
    text-decoration: none;
}

#contentLine {
    background-color: #005245;
    width: 100%;
    height: 3px;
}

body {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ------ CSS FOR HAMBURGER MENU ------ */
.hamburger {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

#hamburgerButtons {
    display: none;
}

#hamburgerButton {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    text-align: center;
    cursor: pointer;
    background-color: #00000055;
}

.hambugerButtonDivider {
    height: 2px;
}

.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#hamburgerButton:hover {
    background-color: #1e9669;
}

.active {
    display: flex;
    background-color: #00000055;
    height: 60px;
}

.hamburgerLogo {
    display: block;
    height: 60px;
    width: 60px;
    margin-left: 10px;
    cursor: pointer;
}

/* ------ CSS FOR MENU ------ */
header {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00000027;
}

.menuBox {
    width: 100vw;
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoImg {
    width: 80px;
    cursor: pointer;
}

.menuButton {
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #005245;
    position: relative;
    color: white;
    border-radius: 5px;
}

.menuButton:hover {
    background-color: #098b65;
    color: #ffffff;
    cursor: pointer;
}

/* ------ CSS FOR FOOTER ------ */
footer {
    width: 100vw;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.social-media {
    margin-bottom: 10px;
}

.social-media a {
    margin-right: 10px;
}

.social-media img {
    width: 40px;
    height: 40px;
}

.lysator {
    padding: 5px;
    cursor: pointer;
    color: black;
}

.lysatorImg {
    width: 50px;
}

.email a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.email a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 12px;
    color: black;
}

/* ------ CSS FOR index.html ------ */
.indexImpulsText {
    text-align: center;
    margin-bottom: 10px;
    max-width: 95vw;
}

.impulsImgBox {
    width: 800px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.impulsCarImg {
    width: 100%;

}

.content img {
    height: auto;
    width: 100vw;
}

.info-container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.info-container img {
    height: auto;
    width: 300px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 10px;
    background-color: #005245;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    color: white;
    border-radius: 5px;
}

.button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    background-color: rgba(60, 255, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.1);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.gyckel {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

/* ------ CSS FOR aboutus.html ------ */
.aboutus-grid {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1300px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    justify-content: space-between;
    justify-items: center;
    align-items: start;
}

.aboutus-element {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    background-color: #005245;
    width: 400px;
    height: 650px;
}

.AboutHeader {
    font-size: 25px;
}

.aboutus-element img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.mailText {
    color: white;
    text-decoration: none;
}

/* ------ CSS FOR calendar.html ------ */
.desktop-calendar {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------ CSS FOR events.html ------ */
.events {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.eventBox {
    margin-top: 40px;
    width: 700px;
}

.eventTextHeader {
    margin-top: 10px;
}

.eventText {
    text-align: justify;
}

.mySlides1 img {
    width: 700px;
    height: auto;
}

.mySlides2 img {
    width: 700px;
    height: auto;
}

.mySlides1,
.mySlides2 {
    display: none;
}

.slideshow-container {
    width: 700px;
    position: relative;
    margin-top: 10px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    color: white;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: white;
    color: black;
}

.events-extra {
    margin-top: 40px;
    width: 700px;
    display: flex;
    flex-direction: column;
}

.smaller-event-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

/* ------ CSS FOR friends.html ------ */
.friends {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 1300px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    justify-content: center;
    align-items: start;
}

.friend-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 250px;
    font-size: 25px;
    color: white;
}

.friends img {
    width: 200px;
    height: 200px;
}

/* ------ CSS FOR pateter.html ------ */
.grid-container {
    width: 1200px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px 0px;
    justify-content: center;
    align-items: start;
}

.pateter {
    width: 480px;
    text-align: center;
}

.pateterImg {
    object-fit: cover;
    width: 480px;
    cursor: pointer;
}

#pateterImg1 {
    object-position: 15% 0%;
}

#pateterImg5 {
    object-position: 0% 0%;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.overlay-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}

.overlay-content img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

/* ------ CSS FOR Scrollbar ------ */
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #222; /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
    background: #555; /* Set the color of the scrollbar handle */
    border-radius: 5px; /* Set the border radius of the scrollbar handle */
}

::-webkit-scrollbar-thumb:hover {
    background: #888; /* Set the color of the scrollbar handle on hover */
}

/* ------ CSS FOR Responsive adjustments ------ */

@media screen and (max-width: 600px) {
    .gyckel {
        height: 400px;
    }

    .hamburger {
        display: block;
    }

    header {
        display: none;
    }

    .info-container img {
        width: 200px;
    }

    .info-container,
    .gyckel,
    .desktop-calendar,
    .events {
        width: 90%;
    }

    .impulsImgBox {
        width: 95vw;
    }

    .aboutus-element {
        width: 300px;
        height: 550px;
    }

    .friend-element {
        height: 150px;
        width: 170px;
    }

    .friends img {
        width: 100px;
        height: 100px;
    }

    .friends {
        width: 100%;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
        gap: 5px;
    }

    .grid-container {
        width: 100%;
        grid-template-columns: auto;
    }

    .aboutus-grid {
        width: 300px;
        grid-template-columns: auto;
        justify-content: space-evenly;
    }

    .pateter,
    .pateterImg,
    .events-extra,
    .smaller-event-container,
    .laserFever,
    .slideshow-container,
    .mySlides1 img,
    .mySlides2 img,
    .eventBox {
        width: 100%;
    }
}

@media screen and (min-width: 600px) {
    .gyckel {
        height: 350px;
    }

    .pateter {
        width: 480px;
        height: 300px;
    }

    .pateterImg {
        width: 480px;
        height: 270px;
    }
    .hamburger {
        display: block;
    }
    header {
        display: none;
    }
    .info-container img {
        width: 200px;
    }

    .info-container,
    .gyckel {
        width: 90%;
    }

    .impulsImgBox {
        width: 95vw;
    }

    .aboutus-element {
        width: 400px;
        height: 550px;
    }

    .desktop-calendar {
        width: 500px;
    }

    .events,
    .eventBox {
        width: 600px;
    }

    .slideshow-container,
    .events-extra,
    .smaller-event-container,
    .laserFever,
    .mySlides1 img,
    .mySlides2 img {
        width: 100%;
    }

    .friends {
        width: 600px;
        grid-template-columns: auto auto;
    }

    .aboutus-grid {
        width: 600px;
        grid-template-columns: auto;
        justify-content: space-evenly;
    }

    .grid-container {
        width: 600px;
        grid-template-columns: auto;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 800px) {
    .gyckel {
        height: 350px;
    }

    .slideshow-container,
    .events-extra,
    .smaller-event-container,
    .laserFever,
    .mySlides2 img,
    .mySlides1 img,
    .eventBox {
        width: 600px;
    }

    .menuButton {
        width: 110px;
        height: 40px;
        font-size: 20px;
    }

    .hamburger {
        display: none;
    }

    header {
        display: flex;
    }

    .impulsImgBox {
        width: 800px;
    }

    .aboutus-element {
        width: 300px;
        height: 650px;
    }

    .info-container img {
        width: 300px;
    }

    .desktop-calendar {
        width: 500px;
    }
    .events {
        width: 800px;
    }

    .pateter {
        width: 480px;
        height: 300px;
    }

    .pateterImg {
        width: 480px;
        height: 270px;
    }

    .friends {
        width: 800px;
        grid-template-columns: auto auto auto;
    }

    .grid-container {
        width: 800px;
        grid-template-columns: auto;
    }

    .aboutus-grid {
        width: 800px;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1000px) {
    .gyckel {
        height: 300px;
    }

    .slideshow-container,
    .events-extra,
    .mySlides2 img,
    .smaller-event-container,
    .laserFever,
    .mySlides1 img,
    .eventBox,
    .desktop-calendar {
        width: 700px;
    }

    .menuButton {
        width: 150px;
        height: 50px;
        font-size: 25px;
    }

    .info-container img {
        width: 300px;
    }

    .impulsImgBox {
        width: 800px;
    }

    .aboutus-element {
        width: 400px;
        height: 650px;
    }

    .events {
        width: 1000px;
    }

    .pateter {
        width: 480px;
        height: 300px;
    }

    .pateterImg {
        width: 480px;
        height: 270px;
    }

    .friends {
        width: 1000px;
        grid-template-columns: auto auto auto auto;
    }

    .grid-container {
        width: 1000px;
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    .aboutus-grid {
        width: 1000px;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 1300px) {
    .gyckel {
        height: 250px;
    }

    .slideshow-container,
    .smaller-event-container,
    .laserFever,
    .events-extra,
    .eventBox,
    .desktop-calendar,
    .mySlides1 img,
    .mySlides2 img {
        width: 700px;
    }

    .menuButton {
        width: 170px;
        height: 50px;
        font-size: 25px;
    }

    .impulsImgBox {
        width: 800px;
    }

    .info-container img {
        width: 300px;
    }

    .aboutus-element {
        width: 400px;
        height: 650px;
    }

    .events {
        width: 1300px;
    }

    .pateter {
        width: 480px;
        height: 300px;
    }

    .pateterImg {
        width: 480px;
        height: 270px;
    }

    .friends {
        width: 1300px;
        grid-template-columns: auto auto auto auto;
    }

    .grid-container {
        width: 1300px;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }

    .aboutus-grid {
        width: 1300px;
        grid-template-columns: auto auto auto;
        justify-content: space-between;
    }
}
